services:
  spybot:
    build:
      dockerfile: Dockerfile
    restart: unless-stopped
  caddy:
    image: 'caddy:2.8-alpine'
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
volumes:
  caddy_data:
  caddy_config:


