{% load tabler_icons %}
{% load util %}

<span class="text-{% if percentage > 0 or percentage == 'infinity' %}green
{% elif percentage == 0 %}yellow
{% else %}red
{% endif %} d-inline-flex align-items-center lh-1">
    {% if percentage|is_string %}
        +{{ percentage }} {# +infinity #}
    {% else %}
        {{ percentage }}%
    {% endif %}
{% if percentage > 0 or percentage == 'infinity' %}
{% tabler_icon 'trending-up' class='icon ms-1' %}
{% elif percentage == 0 %}
{% tabler_icon 'minus' class='icon ms-1' %}
{% else %}
{% tabler_icon 'trending-down' class='icon ms-1' %}
{% endif %}
</span>
