{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta charset="utf-8" />

        <title>Tabler Demo Site</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>

    </head>
    <body>
        <script src="{% static 'theme.js' %}"></script>
        {% block sidebar %}sidebar{% endblock sidebar %}
        <div>
            yoyoyo
        </div>

    </body>
</html>
