{% for field in form %}
    <div class="row fieldWrapper">
        <div class="col-lg-12">
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
            </div>
        </div>
        {{ field.errors }}
    </div>
{% endfor %}

{##}
{##}
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
{#                        <div class="mb-3">#}
{#                            <label class="form-label">Account URL</label>#}
{#                            <div class="input-group input-group-flat">#}
{#                                <span class="input-group-text">#}
{#                                  https://steamcommunity.com/profiles/#}
{#                                </span>#}
{#                                <input type="text" class="form-control ps-0" name="steamid" placeholder="123456" required pattern="[0-9]*" autocomplete="off">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
{#                        <div class="mb-3">#}
{#                            <label class="form-label">Account name</label>#}
{#                            <input type="text" name="name" class="form-control">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}