{%  extends 'spybot/base/base.html' %}
{% load util %}
{% load tabler_icons %}

{%  block content %}
<div class="row row-cards justify-content-md-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header row g-0">
                <h3 class="card-title">Top Users</h3>
            </div>
            <div class="list-group list-group-flush list-group-hoverable">
                {% for user in top_users %}
                    <a href="/u/{{ user.user_id }}" class="list-group-item text-decoration-none">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span class="avatar bg-medal medal-bronze">
                                    {{ forloop.counter }}
<!--                                    {% tabler_icon 'trophy' %}-->
                                </span>
                            </div>
                            <div class="col text-truncate">
                                <span class="text-reset d-block">{{ user.user }}</span>
                                <div class="d-block text-muted text-truncate mt-n1">{{ user.time|duration_format }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <span href="#" class="list-group-item-actions">
                                    {% tabler_icon 'star' %}
                                </span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{%  endblock content %}