{%  extends 'spybot/base/base.html' %}

{%  block content %}
<div class="row row-cards justify-content-md-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header row g-0">
                <div class="col"><h3 class="card-title">Timeline</h3></div>
                <div class="col">
                    <div class="float-end">
                        <form method="post">
                            {% csrf_token %}
                            {{ form }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if activity_by_user %}
                    <div id="chart-timeline" class="chart-lg"></div>
                {% else %}
                    {% include 'spybot/util/empty.html' with title='No data for this time range' subtitle='Try adjusting the time interval or come back later' action='Reload page' only %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{{ activity_by_user|json_script:"time-series-data" }}
<script>
document.addEventListener("DOMContentLoaded", () => {
    const data = JSON.parse(document.querySelector('#time-series-data').textContent);
    const options = {
        series: data,
        chart: {
            height: 550,
            type: 'rangeBar',
            toolbar: {
                show: false
            },
            zoom: {enabled: false},
        },
        plotOptions: {
            bar: {
                horizontal: true,
                barHeight: '80%'
            }
        },
        xaxis: {
            type: 'datetime',
            labels: {
                datetimeUTC: false
            },
            max: {{ max }},
            min: {{ min }},
        },
        yaxis: {
            labels: {
                style: {
                     //cssClass: 'card-body text-muted'
                }
            }
        },
        stroke: {
            width: 1
        },
        fill: {
            type: 'solid',
            opacity: 0.6
        },
        legend: {
            position: 'top',
            horizontalAlign: 'left',
            fontSize: '18px',
            fontFamily: 'inherit',
            markers: {
                radius: 18,
                offsetX: -5
            },
            itemMargin: {
                horizontal: 20
            }
        },
        tooltip: {
            x: {
                format: 'HH:mm:ss'
            },
            theme: isDarkMode() ? 'dark' : 'light'
        },
        theme: {
            palette: 'palette2'
        },
        dataLabels: {
            enabled: true,
            formatter: function (val, { seriesIndex, dataPointIndex, w }) {
                if (val[0] === undefined && val[1] === undefined) {
                    // this is a dummy entry for correct channel ordering, don't emit a label
                    return ""
                }
                return w.config.series[seriesIndex].name;
            },
            style: {
                colors: ["#f3f4f5", "#fff"]
            }
        },
    };

    const chart = new ApexCharts(document.querySelector("#chart-timeline"), options);
    chart.render();
})
</script>
{%  endblock content %}