{%  extends 'spybot/base/base.html' %}
{% load util %}

{%  block content %}
<div class="row row-cards justify-content-md-center">
    <div class="col-md-12">

        <div class="row row-cards">
          <div class="col-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{user.name}}</h3>
              </div>
                <p>Is currently {% if is_online %}<span class="text-success">online</span>{% else %}<span class="text-danger">offline</span>{% endif %}</p>
            </div>

          <p>First seen on the {{ first_online }}</p>
          {% if not is_online %}
          <p>Most recently seen on the {{ last_online }}</p>
          {% endif %}
          </div>
        </div>


        <div class="card">
            <div class="card-header row g-0">
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

{%  endblock content %}