.height-xs-150vw {
}

@media (max-width: 768px) {
    .height-xs-150vw {
        height: 150vw;
    }
}

.row-height-100 {
    height: calc(100% + var(--tblr-gutter-y))
}

.col-height-50 {
    height: calc(50% - var(--tblr-gutter-y))
}

.apexcharts-canvas > svg {
    background-color: transparent !important;
}

body[data-spybot-theme]:not([data-spybot-theme="light"]) .spybot-light-theme-only {
    display: none;
}

body[data-spybot-theme]:not([data-spybot-theme="dark"]) .spybot-dark-theme-only {
    display: none;
}

body[data-spybot-theme]:not([data-spybot-theme="auto"]) .spybot-auto-theme-only {
    display: none;
}
