<div class="card">
    <div class="card-body">
        <h3 class="card-title">Time spent on server</h3>
        {# include ui/chart.html chart-id="mentions" size="lg" legend=true #}
        <div id="chart-mentions" class="chart-lg"></div>
    </div>
</div>

    {%  comment "old channel list logic" %}
    <p>Home page</p>
    {% if channel_list %}
        <ul>
        {% for channel in channel_list %}
            <li><a href="/channels/{{ channel.id }}/">{{ channel.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No channels found</p>
    {% endif %}
    {%  endcomment %}

<script>
document.addEventListener("DOMContentLoaded", function () {
    window.ApexCharts && (new ApexCharts(document.getElementById('chart-mentions'), {
        chart: {
            type: "bar",
            fontFamily: 'inherit',
            height: 240,
            parentHeightOffset: 0,
            toolbar: {
                show: false,
            },
            animations: {
                enabled: true,
                easing: 'easein',
                speed: 1000,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 550
                }
            },
            stacked: true,
        },
        plotOptions: {
            bar: {
                columnWidth: '50%',
            }
        },
        dataLabels: {
            enabled: false,
        },
        fill: {
            opacity: 1,
        },
        series: [{
            name: "Time spent",
            data: {{ active_values|safe }}
        },{
            name: "Idling",
            data: {{ afk_values|safe }}
        }],
        tooltip: {
            theme: 'dark'
        },
        grid: {
            padding: {
                top: -20,
                right: 0,
                left: -4,
                bottom: -4
            },
            strokeDashArray: 4,
            xaxis: {
                lines: {
                    show: true
                }
            },
        },
        xaxis: {
            labels: {
                padding: 0,
            },
            tooltip: {
                enabled: false
            },
            axisBorder: {
                show: false,
            },
            type: 'datetime',
        },
        yaxis: {
            labels: {
                padding: 4,
                formatter: (value) => {
                    return value.toFixed(1) + 'h'
                }
            }
        },
        labels: {{ dates|safe }},
        colors: [tabler.getColor("primary"), tabler.getColor("red", 0.8), tabler.getColor("green", 0.8)],
        legend: {
            show: false,
        },
    })).render();
  });
</script>
