{% extends 'spybot/base/base.html' %}
{% load static %}

{% block content %}
    <div class="row row-cards justify-content-md-center">
        <div class="col-md-6">
            <div class="row row-cards">
                <div class="col-md-12">
                    {% include 'spybot/home/activity_chart.html'%}
                </div>
                <div class="col-md-12">
                    <div class="row row-cards">
                        <div class="col-md-12">
                            {% include 'spybot/home/tod_histogram.html' %}
                        </div>
                        <div class="col-md-6">
                            {% include 'spybot/home/info_tile.html' %}
                        </div>
                        <div class="col-md-6">
                            {% include 'spybot/home/info_tile.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row row-cards">
                <div class="col-md-12">
                    {% include 'spybot/home/live_user_list.html' %}
                </div>
                <div class="col-md-12">
                    {% include 'spybot/home/week_trend.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row row-cards">
                <div class="col-md-12">
                    {% include 'spybot/home/info_tile.html' %}
                </div>
                <div class="col-md-12">
                    {% include 'spybot/home/top_user_week.html' %}
                </div>
                <div class="col-md-12">
                    {% include 'spybot/home/info_tile.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}