<div class="card">
    <div class="ribbon bg-red">NEW</div>
    <div class="card-header">
        <h3 class="card-title my-2">Spybot 2 release</h3>
    </div>
    <div class="card-body">
        <p class="text-muted">Benno and Justus rewrote the OG teamspeak spybot as the glorious Spybot&nbsp;2. It is now written in Python as opposed to PHP and more modern, maintainable and beautiful. In addition, Spybot&nbsp;2 has more charts. Btw, did you know Spybot&nbsp;2 supports dark mode? Try the toggle in the top right.</p>
    </div>
</div>