{% load static %}

<div class="card h-100">
    <div class="card-header" id="live_spinner_container">
        <div class="row w-100">
            <div class="col">
                <h3 class="card-title my-2">Live View</h3>
            </div>
            <div class="col-auto align-self-center px-0">
                <img class="htmx-indicator float-end lightmode-inverted-color" src="{% static 'loading_oval.svg' %}" width="20">
            </div>
        </div>
    </div>
    <div hx-get="/live_fragment" hx-trigger="load, every 10s [!document.hidden]" hx-indicator="#live_spinner_container"></div>
</div>


<style>
    .red {
        color: rgb(214, 57, 57);
    }
    .green {
        color: rgb(38, 114, 12);
    }
    [data-bs-theme=dark] .lightmode-inverted-color {
        filter: none;
    }
    .lightmode-inverted-color {
        filter: invert(1);
    }
</style>