{% load ts_filters %}
{% load tabler_icons %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Live View</h3>
    </div>
    <div class="list-group list-group-flush list-group-hoverable">

        {% for channel in channels %}
            {% if 'spacer' not in channel.name and channel.order < 100 %}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            {% tabler_icon 'home-2' %}
                        </span>

                        <div class="col text-truncate">
                            <a href="#" class="text-reset d-block">{{ channel.name|replace_ts_special_chars }}</a>
                        </div>
                    </div>
                </div>
                {% for client in clients %}
                    {% if channel.id == client.channel_id|add:"0" %}
                        <div id="user" class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="{% if channel.id == 7 or channel.id == 13 %}
                                    badge bg-red{% else %}badge bg-green{% endif %}"></span>
                                </div>
                                <div id="list_text" class="col text-truncate">
                                    <a href="#" class="text-reset d-block">{{ client.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>


<style>
    .list-group-item {
        padding-bottom: 4px;
        padding-top: 4px;
    }
    #user {
        padding-left: 50px;
    }
    #list_text{
        padding-left: 0;
    }
    .card-header {
        padding-bottom: 6px;
        padding-top: 6px;
    }
</style>