{% load util %}
{% load tabler_icons %}
<div class="card" style="height: 21rem">
    <div class="card-body card-body-scrollable card-body-scrollable-shadow">
        <div class="divide-y">
            {% for event in recent_events %}
                <div>
                    <a href="{{ event.website_link }}" class="text-reset text-decoration-none">
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar">{{ event.text|make_list|first }}</span>
                            </div>
                            <div class="col">
                                {{ event.text|safe }}
                                <div class="text-muted">{{ event.date|relative_time }}</div>
                            </div>
                            {% if event.is_recent %}
                            <div class="col-auto align-self-center">
                                <div class="badge bg-primary"></div>
                            </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>