<div class="card h-100">
    <div class="card-header">
        <h3 class="card-title my-2">Time of day histogram</h3>
    </div>
    <div class="card-body ps-2">
        <div id="chart-tod" class="h-100"></div>
    </div>
</div>
{{ tod_data|json_script:"tod-data" }}
<script>
function getCSSVar(name) {
    return getComputedStyle(document.body).getPropertyValue(name)
}
document.addEventListener("DOMContentLoaded", function () {
    if (!window.ApexCharts) return
    const raw_data = JSON.parse(document.querySelector('#tod-data').textContent)
    new ApexCharts(document.querySelector("#chart-tod"), {
        chart: {
            height: "100%",
            type: 'bar',
            toolbar: {
                show: false,
            },
            zoom: {enabled: false},
            parentHeightOffset: 0,
        },
        series: [{
            name: 'Visitors',
            data: Array.from({length: raw_data.length},
                (_, i)=>({
                    x: 0.5+i,
                    y: raw_data[i][1],
                }))
        }],
        plotOptions:{
            bar: {
                columnWidth: "70%",
                strokeWidth: 0,
                borderRadius: 2,
                borderRadiusApplication: "end",
            }
        },
        fill:{
            colors: `rgb(${getCSSVar('--tblr-info-rgb')})`,
            opacity: 0.3,
        },
        stroke:{
            width: 0,
            colors: ['#ee8080']
        },
        dataLabels: {enabled: false},
        grid: {
            padding: {
                top: -20,
                right: 0,
                left: 4,
                bottom: -4
            },
            strokeDashArray: 4,
            xaxis: {
                lines: {
                    show: true
                }
            },
            yaxis: {
                lines: {
                    show: true
                }
            }
        },
        xaxis: {
            type: "numeric",
            min: 0,
            max: 24,
            tickAmount: 12,
            labels: {formatter: x => x /*Math.round(x)*/},
            title: {
                text: "Hours",
                offsetY: 68,
                style: {fontWeight: 500},
            },
            axisBorder: {
                show: false
            }
        },
        yaxis: {
            title: {
                text: "Visitors",
                style: {fontWeight: 500},
            },
            min: 0,
            max: Math.max(...raw_data.map(i => i[1])),
            labels: {
                padding: 20,
                formatter: (value) => {
                    return value.toFixed(0)
                }
            }
        },
        tooltip:{
            theme: 'dark',
            onDatasetHover: {
                highlightDataSeries: true,
            },
            x: {
                formatter: x => {
                    const hour = (x-0.5)
                    if (hour < 13) return "Hour from " + hour + "am"
                    return "Hour from " + (hour - 12) + "pm"
                }},
            y: {
                formatter: y => { return y.toFixed(1) },
                title: {
                    formatter: series => "Ø clients"
                }
            },
        },
        legend: {
            show: false,
        },
    }).render()
});
</script>