{% load tabler_icons %}

<style>
    .bg-medal {
        --text-opacity: 1;
        --bg-opacity: 0.1;
        color: rgba(var(--icon-color), var(--text-opacity)) !important;
        background-color: rgba(var(--icon-color),var(--bg-opacity)) !important;
    }
    .medal-gold {
        --icon-color: 201, 176, 55;
    }
    .medal-silver {
        --icon-color: 150, 150, 150;
    }
    .medal-bronze {
        --icon-color: 127, 67, 6;
    }
</style>
<div class="card">
    <div class="ribbon ribbon-top bg-yellow">
        {% tabler_icon 'star' %}
    </div>
    <div class="card-header">
        <h3 class="card-title my-2">Top users this week</h3>
    </div>
    <div class="card-body">
        <div class="divide-y">
            {% if top_users_data|length > 0 %}
            <div class="row">
                <div class="col-auto">
                    <span class="avatar bg-medal medal-gold">
                        {% tabler_icon 'trophy' %}
                    </span>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        <a href="/u/{{ top_users_data.0.user_id }}" class="text-reset d-block">
                            {{ top_users_data.0.user_name }}
                        </a>
                    </div>
                    <div class="text-muted">{{ top_users_data.0.time|floatformat }} hours this week</div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-auto">
                    <span class="avatar bg-medal bg-green-lt">
                        N/A
                    </span>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        Error
                    </div>
                    <div class="text-muted">No data to show for this week</div>
                </div>
            </div>
            {% endif %}
            {% if top_users_data|length > 1 %}
            <div class="row">
                <div class="col-auto">
                    <span class="avatar bg-medal medal-silver">
                        {% tabler_icon 'trophy' %}
                    </span>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        <a href="/u/{{ top_users_data.1.user_id }}" class="text-reset d-block">
                            {{ top_users_data.1.user_name }}
                        </a>
                    </div>
                    <div class="text-muted">{{ top_users_data.1.time|floatformat }} hours this week</div>
                </div>
            </div>
            {% endif %}
            {% if top_users_data|length > 2 %}
            <div class="row">
                <div class="col-auto">
                    <span class="avatar bg-medal medal-bronze">
                        {% tabler_icon 'trophy' %}
                    </span>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        <a href="/u/{{ top_users_data.2.user_id }}" class="text-reset d-block">
                            {{ top_users_data.2.user_name }}
                        </a>
                    </div>
                    <div class="text-muted">{{ top_users_data.2.time|floatformat }} hours this week</div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>