{% load tabler_icons %}
{% load util %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title my-2">Trend of the week</h3>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center">
			<div class="subheader">Activity</div>
			<div class="ms-auto lh-1">
			</div>
		</div>
        <div class="d-flex align-items-baseline">
			<div class="h1 mb-0 me-2">{{ week_trend.current_week_sum|floatformat:0 }} hours</div>
			<div class="me-auto">
				{% include 'spybot/util/trend_label.html' with percentage=week_trend.delta_percent only %}
			</div>
        </div>
        <div class="text-muted">
            {%  if week_trend.delta_percent > 0 or week_trend.delta_percent|is_string %}
            up from
            {% elif week_trend.delta_percent < 0 %}
            down from
            {% else %}
            same as
            {% endif %}
             last week
        </div>
        <div id="chart-week-comparison" class="chart-sm" style="min-height: 40px;"></div>
    </div>
</div>
{{ week_comparison|json_script:"week-comparison-data" }}
<script>
    const data = JSON.parse(document.querySelector('#week-comparison-data').textContent);
    document.addEventListener("DOMContentLoaded", function () {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-week-comparison'), {
            chart: {
                type: "line",
                fontFamily: 'inherit',
                height: 40.0,
                sparkline: {
                    enabled: true
                },
                animations: {
                    enabled: false
                },
            },
            fill: {
                opacity: 1,
            },
            stroke: {
                width: [2, 1],
                dashArray: 0,
                lineCap: "butt",
                curve: "straight",
            },
            series: [{
                name: "This week",
                data: data.map(x => x.hours_current)
            }, {
                name: "Last week",
                data: data.map(x => x.hours_compare)
            }],
            tooltip: {
                enabled: false,
                theme: 'dark',
                x: {
                    format: 'dddd H:mm'
                },
            },
            grid: {
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false
                },
                type: 'datetime',
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            labels: data.map(x => x.datetime),
            colors: [tabler.getColor("primary"), tabler.getColor("gray-600")],
            legend: {
                show: false,
            },
        })).render();
    });
</script>