{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta charset="utf-8" />
        <link rel="icon" href="{% static 'favicon.png' %}" sizes="144x115">

        <title>Spybot 2 by Justus and Benno</title>

        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="{% static 'main.js' %}" defer></script>
        {% block header %}
        {%  endblock %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <script src="{% static 'theme.js' %}"></script>
        <div class="page">
            {% include 'spybot/base/navbar.html' %}
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="container-xl">
                        {% block content %}
                        error
                        {% endblock %}
                    </div>
                </div>
                {% include 'spybot/base/footer.html' %}
            </div>
        </div>
        <div id="modal" class="modal modal-blur fade">
            <div id="dialog" class="modal-dialog" hx-target="this"></div>
        </div>
        {% block content_body_end %}
        {% endblock %}
    </body>
</html>
