{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta charset="utf-8" />
        <link rel="icon" href="{% static 'favicon.png' %}" sizes="144x115">

        <title>Spybot 2 by Justus and Benno</title>

U        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css" integrity="sha256-w+nX2nCMDzpZmOVYZW8uyQ8/u+iXNlG1NNoKYLJFY+o=" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js" integrity="sha256-cAkvB/E6RtX4+rQCyS1Q0Wd/cD7JZWWQynoPJkKW8Gc=" crossorigin="anonymous" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.36.3/dist/apexcharts.min.js" integrity="sha256-sJXO9k0U8I7pZXEVp9UVUXG7+SgUvuBIHozGRmjsDHg=" crossorigin="anonymous" defer></script>
        {% block header %}
        {%  endblock %}
    </head>
    <body>
        <script src="{% static 'theme.js' %}"></script>
        <div class="page">
            {% include 'spybot/base/navbar.html' %}
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="container-xl">
                        {% block content %}
                        error
                        {% endblock %}
                    </div>
                </div>
                {% include 'spybot/base/footer.html' %}
            </div>
        </div>
    </body>
</html>
