{% load tabler_icons %}

<footer class="footer footer-transparent">
    <div class="container-xl">
        <div class="row text-center align-items-center">
            <div class="col-12 col-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">Copyright © {% now 'Y' %}</li>
                    <li class="list-inline-item">
                        <a class="link-secondary" href="https://github.com/SmoFlaDru">
                            Benno and Justus
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-secondary" href="/admin">
                            {% tabler_icon 'lock' size=14 %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>