{
	auto_https off
}
:20001 {
    bind 0.0.0.0
    # Serve requests to /static/* from a static files
    handle_path /static/* {
        root * /spybot_static/
        file_server
    }

    # Reverse proxy all other requests to Django application
    handle {
        reverse_proxy spybot:8000
    }
}